In [377]:
import pandas as pd
import numpy as np

In [3]:
hfpy_df = pd.read_csv("/Users/roas/Projects_Git/PyMoli/Resources/purchase_data.csv")

In [5]:
hfpy_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [12]:
hfpy_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

### Total Number of Players
- Total of number of players

In [41]:
total = hfpy_df['SN'].nunique()

In [42]:
total

576

### Purchasing Analysis(Total)
- Number of unique items

In [76]:
hfpy_df['Item ID'].nunique()

183

- Average purchase price

In [15]:
hfpy_df['Price'].mean()

3.050987179487176

- Total number of purchases

In [16]:
hfpy_df["Purchase ID"].count()

780

- Total Revenue

In [77]:
hfpy_df["Price"].sum()

2379.77

In [265]:
data = {"Number of the unique items":[hfpy_df['Item ID'].nunique()], 
        "Average price":[hfpy_df['Price'].mean()], 
        "Number of purchases":[hfpy_df["Purchase ID"].count()], 
        "Total revenue":hfpy_df["Price"].sum()}

In [266]:
summary_df = pd.DataFrame(data)
# file_df["avg_cost"] = file_df["avg_cost"].map("${:.2f}".format)
summary_df["Average price"] = summary_df["Average price"].map("${:<.2f}".format)
summary_df["Total revenue"] = summary_df["Total revenue"].map("${:<.2f}".format)

summary_df

   Number of the unique items Average price  Number of purchases Total revenue
0                         183         $3.05                  780      $2379.77

### Gender demographics

- Percentage and count of male players

- Percentage and count of female players

- Percentage and count of Other / Non-Disclosed

In [267]:
#Count of male player
hfpy_male = hfpy_df[(hfpy_df['Gender'] == 'Male')]
male = hfpy_male['SN'].nunique()

In [268]:
# Percentage of male players
percentage_male = (male / total)

In [269]:
# Count of female players
female = hfpy_df[(hfpy_df['Gender']) == 'Female']['SN'].nunique()

In [270]:
# Percentage of female players
percentage_female = (female / total)

In [271]:
#Percentage of other
percentage_other = (other / total)

In [272]:
gender_gby = hfpy_df.groupby("Gender")
gender = pd.DataFrame(gender_gby['SN'].nunique())
gender['Total count'] = gender ['SN']
gender.drop(columns = 'SN', inplace = True)
# file_df["avg_cost"] = file_df["avg_cost"].map("${:.2f}".format)
gender['Percentage of players'] = ((gender['Total count'])/(gender['Total count'].sum()))*100
gender['Percentage of players'] = gender['Percentage of players'].map("{:.2f}%".format)
gender

                       Total count Percentage of players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

### Purchasing Analysis (Gender)

The below each broken by gender

- Purchase count
- Average purchase price
- Total purchase
- Average purchase total per person by gender

In [273]:
purchase_count = gender_gby["Purchase ID"].count() #Purchase count
average_price = gender_gby["Price"].mean() #Average purchase price
total_purchase = gender_gby["Price"].sum() #Total purchase
average_person = gender_gby["Price"].sum() / gender["Total count"] #Average purchase total per person by gender

purchase_analysis = {"Purchase count":purchase_count, 
                     "Average purchase price":average_price.map("${:.2f}".format), 
                     "Total purchase value":total_purchase.map("${:.2f}".format),
                    "Avg total purchase per person":average_person.map("${:.2f}".format)}
panalysis_df = pd.DataFrame(purchase_analysis)

panalysis_df

,Purchase count,Average purchase price,Total purchase value,Avg total purchase per person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

### Age demographics

The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.):

- Purchase Count
- Average Purchase Price
- Total Purchase Value
- Average Purchase Total per Person by Age Group

In [289]:
bins_age = [0, 9, 14, 19, 24, 29, 34, 39, 46]
labels_age = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [290]:
hfpy_df["Age summary"] = pd.cut(hfpy_df['Age'], bins_age, labels = labels_age)
agesummary =  hfpy_df.groupby('Age summary')

In [299]:
agesummary1_df = pd.DataFrame({"Total count": agesummary["SN"].nunique(), 
                              "Percentage of players": ((agesummary["SN"].nunique()/total)*100).map("{:.2f}%".format)})
agesummary1_df

             Total count Percentage of players
Age summary
<10                   17                 2.95%
10-14                 22                 3.82%
15-19                107                18.58%
20-24                258                44.79%
25-29                 77                13.37%
30-34                 52                 9.03%
35-39                 31                 5.38%
40+                   12                 2.08%

In [300]:
agesummary_df = pd.DataFrame({"Purchase count":agesummary["Purchase ID"].count(),
                             "Average purchase price":agesummary["Price"].mean().map("${:.2f}".format),
                             "Total purchase value": agesummary["Price"].sum().map("${:.2f}".format),
                             "Average purchase total per person by age group":(agesummary['Price'].sum()/agesummary["SN"].nunique()).map("${:.2f}".format)})
agesummary_df

,Purchase count,Average purchase price,Total purchase value,Average purchase total per person by age group
Age summary,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

### Top Spenders

Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

- SN
- Purchase Count
- Average Purchase Price
- Total Purchase Value

In [467]:

top_gpby = hfpy_df.groupby("SN")

top_df = pd.DataFrame({"Purchase count": top_gpby["Item Name"].count(),
                       "Average purchase price": top_gpby["Price"].mean().map("${:.2f}".format),
                      "Total purchase value": top_gpby["Price"].sum().nlargest(5)}) #Pases only the top 5 values  

top_df['Total purchase value'] = top_df['Total purchase value'].map("${:.2f}".format)
top_df.sort_values(by='Total purchase value', ascending = False)[-5:]

             Purchase count Average purchase price Total purchase value
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

### Most popular items

Identify the 5 most popular items by purchase count, then list (in a table):

- Item ID
- Item Name
- Purchase Count
- Item Price
- Total Purchase Value

In [480]:
popular = hfpy_df.groupby(by =["Item ID", 'Item Name'])
hfpy_df.head()
popular.count()

popular_df = pd.DataFrame({'Purchase count':popular['Purchase ID'].count().nlargest(5),
                          'Item price':popular['Price'].sum()/popular['Purchase ID'].count(),
                          'Total purchase value':(popular['Price'].sum())})


popular_df.sort_values(by='Purchase count', ascending = False)[:5]

,,Purchase count,Item price,Total purchase value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12.0,4.23,50.76
82,Nirvana,9.0,4.90,44.10
108,"Extraction, Quickblade Of Trembling Hands",9.0,3.53,31.77
145,Fiery Glass Crusader,9.0,4.58,41.22
19,"Pursuit, Cudgel of Necromancy",8.0,1.02,8.16